ion-content {
    text-align: center;
    color: black;
}

ion-title {
    color: black;
}

.button {
    color: black;
}

ion-button {
    color: black;
    width: 70px;
    height: 35px;
}

#b {
    border-left: 2px solid grey;
}